<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATzj3Kdd79lCGDhKFp6xWVS8tYlkSW4CY</string>
	<key>GCM_SENDER_ID</key>
	<string>964438327357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prevailmartApp</string>
	<key>PROJECT_ID</key>
	<string>prevailmart</string>
	<key>STORAGE_BUCKET</key>
	<string>prevailmart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964438327357:ios:69eb97c72afb4666d22a54</string>
</dict>
</plist>